div {
    font-size: 34px;
    font-weight: bold;
    color: rgb(66, 24, 106);
<<<<<<< HEAD
    border: 2px solid rgb(39,32,72);
    padding: 20px;
  }
=======
  }
>>>>>>> b8e3a6976644818923191c275c2f6b339d046ad0
